* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(rgb(195, 185, 71), yellow);
}
